---
title: Sessecion Gallery
coverimage: /images/emily-roysdon.jpg
tags: Exhibition design
images: 
  - secession_gallery01.jpg
  - secession_gallery02.jpg
  - secession_gallery03.jpg
  - secession_gallery04.jpg
  
---
Excerpts from Emily Roysdon’s text “Uncounted”, visually and typographically interpreted on a 83 square meter floor piece for her solo exhibition “Comedy of Margin Theatre” at the Secession Gallery in Vienna in 2015. 