---
title: WIP Show 2015
coverimage: /images/royal-college-of-art.jpg
tags: Visual identity
images: 
  - royal_college_of_art01.jpg
  - royal_college_of_art02.jpg
  - royal_college_of_art03.jpg
  - royal_college_of_art04.jpg
  - royal_college_of_art05.jpg
  - royal_college_of_art06.jpg
  - royal_college_of_art07.jpg
  - royal_college_of_art08.jpg

---
The Royal College of Art Work in Progress Show is an annual event where second year MA students exhibit their work mid term as an opportunity to try out ideas before the Final Show later in the year.<br><br>“Work in progress” is a stage defined by fearlessly questioning and playing with conventions in order to find new “out-side the box” creations. The “Work in progress”-mindset is here reflected in a typographic concept. The custom made typeface is based on modules that are arrangeable into letter shapes. There are pre-designed combinations of modules to construct each letter and also endless possibilities to create alternative letterforms. The modules allow the user to construct letters as she or he prefers. Printed as stickers the modules can be used in a “guerilla” way, for example to interrupt the corporate identity of the RCA to communicate the student voice. 
