---
title: Pentagram Film
coverimage: /images/pentagram-film.jpg
tags: Visual identity
images: 
  - pentagram_film01.jpg
  - pentagram_film02.jpg
  - pentagram_film03.jpg
  - pentagram_film04.jpg
  - pentagram-logo.gif

---
The logotype is focusing on two aspects of the studio - their practice, which is film, and the names of the founders - Philip and Gustav. The iconic shape of a film camera symbolises film, and the p and g in Pentagram symbolises Philip and Gustav turned towards each other. The logotype scales down to different ratios and symbols needed for their practice.<br><br>The headline typeface - Ano Bold, is chosen for its geometric character and ability to function as building blocks for the logotype. The supporting typeface is chosen to complement the over all look with a softer but still related visual expression. 