---
title: Åhnberg &amp; Partners
coverimage: /images/ahnberg-partners.jpg
tags: Visual identity
images:
  - ahnberg_partners01.jpg
  - ahnberg_partners02.jpg
  - ahnberg_partners03.jpg
  - ahnberg_partners04.jpg
  - ahnberg_partners05.jpg

---
Åhnberg & Partners is a middle-sized audit office and law firm in Stockholm. Their clientele are mainly from the cultural sector, which is reflected in the choices of typefaces and logotype that flirts with the visual language often used in the fashion industry. The aim is to position Åhnberg & Partners as a professional and qualified company, a cultural capital being the factor that distinguish them. 
