---
title: Arc Magazine
coverimage: /images/arc-magazine.jpg
tags: Editorial design
images: 
  - arc01.jpg
  - arc02.jpg
  - arc03.jpg
  - arc04.jpg
  - arc05.jpg
  - arc06.jpg
  - arc07.jpg
  - arc08.jpg
  - arc09.jpg

---
The theme of the nineteenth edition of ARC, Royal College of Art’s student-led magazine, was Contagion. The design approaches “Contagion” from Vignelli's perspective, where the designer is a doctor that cures visual disease. (Helvetica - G Hustwit.) This stage of pre-design that Vignelli refers to as diseased, is in this design enhanced rather than cured.