---
title: Critical Thinking
coverimage: /images/critical-thinking.jpg
tags: Art &amp; research
images: 
  - critical_thinking01.jpg
  - critical_thinking02.jpg
  - critical_thinking03.jpg

---
A manifesto for critical thinking inspired by Socrates method. Screen printed on 3*1,5 m blueback paper for outdoor posting, propaganda style. 