---
title: RCA Show 2016
coverimage: /images/rca-show.jpg
tags: Visual identity
images: 
  - show_01.jpg
  - show_animation.gif
  - show_02.jpg
  - show_03.jpg
  - show_04.jpg
  - show_05.jpg
  - show_06.jpg

---
A dancing typeface visualises the RCA annual SHOW as a performance; individual achievement and collective spectacle. The dancing type tells a story about the event at the same time as being functional and applicable across still and moving media. The typography enhances the school brand by using a kindred colour palette and the brand typeface Calvert as supporting type.<br><br>The dancing typeface takes a standpoint in ZIGZAG, a typeface designed by Benoît Bodhuin. After defining a specific and recognisable dance routine for each character in ZIGZAG, the letters were further evolved and animated to dance. The animated typeface works for the many digital formats of the identity. The proposal was never realised. Made in collaboration with Carolina Dahl. 