---
title: KKH Exhibition 2016
coverimage: /images/kkh.jpg
tags: Visual identity
images: 
  - kkh_spring_exhibitions01.jpg
  - kkh_spring_exhibitions03.jpg
  - kkh_spring_exhibitions02.jpg
  - kkh_spring_exhibitions04.jpg
  - kkh_spring_exhibitions05.jpg
  - kkh_spring_exhibitions06.jpg
  - kkh_spring_exhibitions07.jpg
  - kkh_spring_exhibitions08.jpg
  - kkh_spring_exhibitions09.jpg

---
A visual identity based on a deconstructed poster to visualise the multitude and critical mindset of the Academy of Art students. The information layers constituting a poster were split up into several posters - giving all types of information the same hierarchy. This generated 40 posters, red for the MA’s, blue for the BA’s and yellow ones for general information. The students were free to arrange their own custom communication in poster clusters around the city.<br><br>The imagery posters were generated the from survey answers from the students, asking them to describe their work in synesthetic associations – as in “if your work was a sound, what would it be?” The answers were then translated into imagery layers/posters.
<br><br>
Design in collaboration with Sepidar Hosseini, Moa Schulman and Carolina Dahl.