---
title: Typojanchi
coverimage: /images/typojanchi.jpg
tags: Exhibition design
images: 
  - typojanchi01.jpg
  - typojanchi02.jpg
  - typojanchi03.jpg
  - typojanchi04.jpg
  - typojanchi05.jpg
  - typojanchi06.jpg
  - typojanchi07.jpg

---
Typojanchi is a typography biennale taking place in Seoul, with  participating studios from all over the world. Six studios were invited by designer Adrian Shaughnessy to create a banner for the special exhibition. Based on the theme of the bienniale, Type & City, each studio was given the coordinates to a geographical point on Google Maps to respond to with a typographic interpretation.<br><br>Our contribution "Mexico Glitchy", is an attempt to illustrate our digitally fragmented and in many ways inaccurate perception of a place we have never visited. The hand cursor symbolises us as travellers, and the blurred graphics our movement through Google Maps. The glitched type are extracted from screenshots of the location. Made in collaboration with Carolina Dahl. 