---
title: Queer Type
coverimage: /images/queer-type.jpg
tags: Art &amp; Research
images: 
  - queertype01.jpg
  - queertype02.jpg
  - queertype03.jpg
  - queertype04.jpg
  - queertype05.jpg
  - queertype06.jpg
  - queertype07.png
  - queertype08.jpg

---
Queertype T-shirts is a collection of printed t-shirts, exploring visual and literal gender stereotypes found in high-street clothing stores. “Trouble is my middle name” is an example of a popular print for boys, and “I wear flowers” is an equivalent example from the girls’ department. The typographic style for prints aimed at girls are often decorative scripts, while the boys’ prints are set in neutral and bold sans-serifs. Queertype T-shirts subverts the gender stereotypes in these examples by inverting typographic style in the prints.<br><br>The typefaces are custom made for the project. Avec is a decorative script inspired by emoticons and feminine culture. Sans is the “netural” version, inspired by cornerstone sans-serifs such as Helvetica, Futura and Gill Sans.
