---
title: Dance+Type
coverimage: /images/konstfack-workshop.jpg
tags: Workshop
images: 
  - konstfack_workshop01.jpg
  - konstfack_workshop02.jpg
  - konstfack_workshop03.jpg
  - konstfack_workshop04.jpg
  - konstfack_workshop05.jpg
  - konstfack_workshop06.jpg
  - konstfack_workshop07.jpg

---
A workshop combining dance and typography to create a choreographic alphabet. Fifteen highschool students from Vackstanäs gymnasium participated. The characters were later screen printed and exhibited at Konstfack. 