---
title: Rosengård centrum 1
coverimage: /images/rosengard-3.jpg
tags: Workshop
images: 
  - rosengard1_centrum01.jpg
  - rosengard1_centrum02.jpg
  - rosengard1_centrum03.jpg
  - rosengard1_centrum04.jpg
  - rosengard1_centrum05.jpg
  - rosengard1_centrum06.jpg

---
A workshop conducted in collaboration with Dis/order landscape architecture, on behalf of the City of Malmö as a part of the long term urban development project Amiralsstaden. The focus group were young residents in the area between the ages of 5-15 years, a group that is often left our of urban development processes. The aim for the workshop was to test identity making and facilitate a dialogue between the residents and the city. <br><br>The workshop participants used a deconstructed alphabet to stamp symbol- and name proposals on a 25 meter long paper roll. The shapes were then used to decorate public furniture in the area.  