---
title: Konst Händer
coverimage: /images/konst-hander.jpg
tags: Visual identity
images: 
  - konst_hander_animerad_logo_gul.gif
  - konst_hander02.jpg

---
Design system for “Art is Happening” – a government initiative to focus on public art in Swedish modernist suburbs. The fifteen public art projects in the project are run by local participators, which required the identity to be highly flexible. Six different logotypes under the same visual umbrella allows each organisation to choose their own, to further individualise their communication in the area. Commissioned by the Public Art Agency Sweden, made in collaboration with Sepidar Hosseini. 