---
title: Gennemblødt
coverimage: /images/gennemblodt.jpg
tags: Editorial design
images: 
  - gennemblodt02.jpg
  - gennemblodt03.jpg
  - gennemblodt01.jpg

---
Artwork for Gennemblødt. The authors of the book, Maja Nyvang och Sine Cecilie Laub, deals with the culture around menstruation, a topic so tabu that the book turned out to be one of the most controversial in Denmark in 2016. Gennemblødt means “bled through”, which is illustrated on the cover with blood leaking out from the inside to form stains. It was important for the design to show blood, without making it look repellent.  