---
title: Bang
coverimage: /images/bang.jpg
tags: Editorial design
images: 
  - bang01.jpg
  - bang02.jpg
  - bang03.jpg
  - bang04.jpg
  - bang05.jpg
  - bang06.jpg

---
A redesign issue of BANG – Swedens most cutting edge and influential feminist magazine. For their 25th year in print, the magazine faced major changes including a new editorial board and a thorough redesign. The "under construction" point is illustrated on the cover, with the "men at work" character evolved to a more humanized and organic version, spilling out material outside of the box. The original sign-designer, Margaret Calvert, is recognized by also using her typeface "Calvert" as body text. The design explores BANG's point of view by exploring pink as "neutral" color rather than white.<br><br>For the theme section on economy, a moire-brush was designed to create a “fake money”-aesthetic. Other identity markers such as layout, typography and and page numbers are also inspired by bills and credit cards. Made in collaboration with My Little Jobby. 