---
title: Folkmusik 2.0
coverimage: /images/svensk-hiphop.jpg
tags: Art direction
images: 
  - svensk_hiphop_remixad_01.jpg
  - svensk_hiphop_remixad_02.jpg
  - svensk_hiphop_remixad_03.jpg
  - svensk_hiphop_remixad_04.jpg

---
Press images for the upcoming exhibition “Folkmusik–2.0 Svensk HipHop Remixad” at Kulturhuset Stadsteatern in Stockholm. Visual concept and t-shirt posters made in collaboration with Sepidar Hosseini. Model: Kamohelo Khoaripe, curator: Erik Hedman, photography: Märta Thisner. Images from the exhibition will follow after the exhibition opening. 