---
title: Konstfack 2017
coverimage: /images/konstfack.jpg
tags: Visual identity
images: 
  - konstfack_springexhibition_2017_01.jpg
  - konstfack_springexhibition_2017_02.jpg
  - konstfack_springexhibition_2017_03.jpg
  - konstfack_springexhibition_2017_04.jpg
  - konstfack_springexhibition_2017_05.jpg
  - konstfack_springexhibition_2017_06.jpg

---
The identity visualises a green screen and a distorted stock photo of a red carpet. The concept behind these visual choices is to comment on the contemporary media/political climate, where images and facts are open for alternation and manipulation. The question that ignited the process was: how do we do operate as artists when fantasy is hacked by reality? In a détournement spirit, the identity appropriates, or steals back from the mainstream, here a commercial Shutterstock photo to use it for independent/artistic purposes. The visual identity thus describes the school as a place that challenges, and is challenged by, today's rampant societal spectacle. The red carpet symbol can also be read as a celebration of the graduating students. 
