---
title: Sverige Berättar
coverimage: /images/sverige-berattar.jpg
tags: Art direction, Exhibition design
images: 
  - sverige_berattar01.jpg
  - sverige_berattar02.jpg
  - sverige_berattar03.jpg
  - sverige_berattar04.jpg

---
Sverige berättar is a travelling exhibition, telling the stories of Swedish labor immigrants arriving to Sweden during the 1950’s. The stories are told with words and images in a big photo album, encased in a custom made transformer like suitcase/table/photo album construction, which allows the curator to travel solo to locations for exhibit all over the country. Made in collaboration with carpenter Glenn Johansson.