---
title: Ji Nilsson
coverimage: /images/ji-nilsson-2.jpg
tags: Art direction
images: 
  - ji_nilsson_01.jpg
  - ji_nilsson_02.jpg
  - ji_nilsson_03.jpg

---
Artwork for Ji Nilssons album Scandinavian pain and hit singles Save me for later and Proud.<br><br>The graphics references “Among Gnomes and Trolls”, the 1913 children's fairy tale anthology with illustrations by John Bauer. These Arts and Craft influences are combined with visual inspiration from 90’s pop music culture to create Ji’s look.<br><br>Proud is about realising and standing up for being gay. The single was released in time for Pride 2017. We wanted to portrait a lesbian couple, without relying on stereotype imagery.<br><br>Photography by Adrian Wigerdahl. 

