---
title: Linder Unlimited
coverimage: /images/linder-unlimited.jpg
tags: Type design
images: 
  - linder_unlimited-01.jpg
  - linder_unlimited-02.jpg
  - linder_unlimited-03.jpg
  - linder_unlimited-04.jpg
  - linder_unlimited-05.jpg
  - linder_unlimited-06.jpg
  - linder_unlimited-07.jpg

---
A custom made headline typeface for Anna Linder’s research project “Queer Moving Images”. The typeface is outlined, with lines that transitions between the two typefaces used in the dissertation, Montserrat and William. Made in collaboration with Bastion Studio.