---
title: Folkmusik 2.0
coverimage: /images/folkmusik1.jpg
tags: Visual identity
images: 
  - folkmusik1.jpg
  - folkmusik2.jpg
  - folkmusik3.jpg
  - folkmusik4.jpg
  - folkmusik5.jpg
  - folkmusik6.jpg
  - folkmusik7.jpg
  - folkmusik8.jpg
  - folkmusik9.jpg
  - folkmusik10.jpg

---
A loud, typography based visual identity including supergraphics and wayfinding for the exhibition "Folkmusik 2.0 - Swedish hiphop remixed" produced by Kulturhuset / Stadsteatern in Stockholm. Folkmusik 2.0 is an audio-visual group exhibition showcasing hiphop as one of the most important contemporary cultural forces. Nine video creators have interpreted some of the most influential Swedish songs in the genre. The exhibition's key words "loud, historical and relevant” permeate the visual identity – the graphics are loud to say the least, covering the entire 450 sqm exhibition area from floor to ceiling. The box-like architecture is designed to resemble urban space and to divide the exhibition into smaller parts for each video piece. In Barbara Kruger-inspired supergraphics, we have "sampled" parts of the exhibited songs typographically. Referencing hip-hop's main image tradition – graffiti – we’ve then let the typography take over the facades. The typography consists of a contemporary Fraktur, a 16th century typographic style that traveled through Latin American prison tattoos, to become significant for hiphop culture. The colors refer to the red and blue subways lines of Stockholm, and the application of them is associated with spray paint and scenic spotlight. On the whole we created an exhibition experience where supergraphics are merged with wayfidning, and where graphic design takes unconventional proportions to become an integral part of the visual experience.