---
title: Abundo
coverimage: /images/abundo_01.jpg
tags: Visual identity
images: 
  - abundo_01.jpg
  - abundo_02.jpg
  - abundo_03.jpg
  - abundo_05.gif
  - abundo_06.jpg
  - abundo_07.jpg
  - abundo_08.jpg
  - abundo_09.jpg
  - abundo_10.jpg


---
Campaign Identity for Abundo's fall campaign 2019, building on the existing corporate logo and typeface. Abundo offers a subscription service for live culture in Stockholm. Taking inspiration from the etymological origin of the word culture - meaning growing, the identity visualises Abundo like a giant tree with its branches taking over the city. The already existing logotype with its curly forms illustrates the root system of the Abundo tree. The campaign includes posters, billboards, ads and digital.
<br>
<br>
<a href="https://abundolive.se/">abundolive.se</a>