---
title: NCS Colour
coverimage: /images/ncs_09.jpg
tags: Visual identity
images: 
  - ncs_01.jpg
  - ncs_02.jpg
  - ncs_03.jpg
  - ncs_04.jpg
  - ncs_05.jpg
  - ncs_06.jpg
  - ncs_07.jpg
  - ncs_08.jpg
  - ncs_09.jpg
  - ncs_10.jpg
  - ncs_11.jpg
  - ncs_12.jpg

---
Communicating the world leader of colour communication<br><br>The Natural Colour System®© is a cross-industry colour system that is used around the world for colour communication. From their base in Stockholm, the company NCS Colour has been spreading knowledge about colour to designers and architects, product and material manufacturers for 40 years.<br><br>Sakaria Studio was consulted to update NCS Colour’s visual identity into a modern, colourful and stylistic framework aimed at a broad target group from stakeholders and industry to architects and mass market. We were challenged to visualise NCS Colour today and bring the company into the future, without loosing the visual heritage of the iconic NCS Colour products.<br><br>The new identity carefully balances the iconic typographic heritage of the NCS products such as Index and Atlas, with a more contemporary feel by applying Touche – a geometric sans serif designed for both screens and print. The typeface is applied in all text-communication as well as in the logotypes, where it is merged with the old word mark to give it a stylised new typographic look.<br><br>To communicate NCS Colour as colour experts, we decided to introduce and bring forward a bold and versatile colour palette to the rebranded toolkit. The palettes are crafted using NCS Colour’s own colours and methods of creating harmonious combinations, which creates an extra layer of communication to be told for the interested client. The palettes form a collection of 3D-graphics, portraying the process of choosing colour.
<br>
<br>
<a href="https://ncscolour.com/">ncscolour.com</a>