.contact.row.large-text.padding.padding-top
  .small-12.column
    .contact-physical
      Sakaria Studio 
      %br
      Nybrogatan 8
      %br
      114 34 Stockholm
    .contact-www
      = mail_to "info@sakaria.se"  
      %br
      <a href="tel:+46733991086">+46733991086</a>
      %br
      = link_to "Instagram", "https://www.instagram.com/sakariastudio/"