.contact.row.align-justify.large-text.padding
  .column
    Blekingegatan 24
    %br
    11856 Stockholm
  .column
    info@sakaria.se 
    %br
    +46733991086
    %br
    = link_to "Instagram", "https://www.instagram.com/sakariastudio/"