.contact.row.large-text.padding
  .small-12.column
    .float-left
      Sakaria Studio 
      %br
      Blekingegatan 24
      %br
      11856 Stockholm
    .float-right
      info@sakaria.se 
      %br
      +46733991086
      %br
      Sakaria Studio