.row.padding.padding-top.pink-bg.expanded
  .row
    .small-12.column
      %p Many of the projects on this site are made under the name Summer Studio, in collaboration with graphic designer Carolina Dahl. <a href="http://summerstudio.co.uk">Visit archive.</a>