---
title: About
---

.row.large-text.padding.padding-top
  .small-12.columns
    %about
      A design and art direction agency (former Summer Studio). We offer all types of graphic design services, working together with interdiciplinary design collective My Little Jobby.

= partial :contact

.row
  .small-12.columns
    %h2.large-text Clients:
.row.expanded.padding
  =image_tag 'logos.jpg'
  
.row
  .small-12.columns
    %h2.large-text.padding Types of work:
.row
  .large-6.columns
    %h3.large-text Visual identity
    %p.padding We create design packages including logotype, colourpalete, typeface etc, and the applications needed for the purpose. See Åhnberg &amp; Partners
  .large-6.columns
    %h3.large-text Type design
    %p.padding We custom design typefaces, taking them all the way from sketches to working in the text editor. See Linder unlimited
.row
  .large-6.columns
    %h3.large-text Workshops
    %p.padding We occasionally lecture in design and typography at art universities and other places. See Rosengård
  .large-6.columns
    %h3.large-text Art &amp; research 
    %p.padding We do independent art work and reserach projects along with our commercial practice. See Queer Type
.row
  .large-6.columns
    %h3.large-text Art direction
    %p.padding Choosing visua langugage/imagery, styling and over seeing production to make sure the concept is maintained throughout all units. See JiNilson/SonyMusic
  .large-6.columns
    %h3.large-text Exhibition design
    %p.padding Spatial large scale graphics, display solutions for public spaces, wayfinding and signage. See Seccesion Gallery/Emily Roysdon
.row
  .large-6.columns
    %h3.large-text Editorial design
    %p.padding Book cover art, bookdesign, magazine design. Contact with printers and book binders. See Art Workers

.pink
  .row.padding.padding-top
    .small-12.columns
      %h2.large-text Sakaria @ the Internet:
  .row.padding
    .large-6.columns
      %p 
        AIGA Eye on design
        %br
        The Women Redressing the Gender Imbalance in Typography
    .large-6.columns
      %p 
        True Womance
        %br
        Minna Sakaria on Queer Type and identity as a graphic designer (in Swedish)
  .row.padding
    .large-6.columns
      %p 
        AIGA Eye on design
        %br
        The Women Redressing the Gender Imbalance in Typography
    .large-6.columns
      %p 
        AIGA Eye on design
        %br
        The Women Redressing the Gender Imbalance in Typography
  .row.padding
    .large-6.columns
      %p 
        AIGA Eye on design
        %br
        The Women Redressing the Gender Imbalance in Typography
    .large-6.columns
      %p 
        AIGA Eye on design
        %br
        The Women Redressing the Gender Imbalance in Typography
  .row.padding.padding-top
    .small-12.columns
      %h2.large-text Published:
    .small-12.columns
      %p
        Exhibition Art, Graphics and Space Design, Sandu Publishing, 2016
        %br
        Optical Illusions, Sandu Publishing, 2016
        %br
        Étapes 234: Écoles & diplômes, 2016
        %br
        Cap&design, no5 2015